.header {
    height: 10vh;
    width: 100%;
    background-color: #0b0b0b;
    box-sizing: border-box;
    padding: 0.5vmax 0.5vmax;
    color: rgba(241, 235, 235, 0.965);
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      button {
        box-sizing: border-box;
        width: 14vmax;
        border: none;
        outline: none;
        padding: 1vmax 1.5vmax;
        border-radius: 30px;
        background-color: crimson;
        cursor: pointer;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 1.3vmax;
        transition: all 0.2s;
        &:hover {
          color: black;
          background-color: rgb(232, 222, 224);
        }
      }
    }
    .mode{
      position: absolute;
     right: 1%;
    }
  }
  